.heroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: fit-content;
    padding: 3rem 2rem;
    background: light-dark(var(--mantine-color-gray-4), var(--mantine-color-blue-4));
    overflow: hidden;
}

.heroButtons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    z-index: 2;
}

.heroImage {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 8px 32px rgba(0,0,0,0.12);
}

@media (max-width: 900px) {
    .heroSection {
        flex-direction: column;
        text-align: center;
        padding: 2rem 1rem;
    }
    .heroImage {
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
        z-index: 2;
    }
    .heroButtons {
        justify-content: center;
    }
}
