html, body {
  overflow-x: hidden;
}

.heroContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    height: 86vh;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media screen and (min-width: 900px) {
        width: 60%;
    }
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-4));
}

div p{
    background-color: light-dark(rgba(255, 255, 255, 0.477), rgba(154, 154, 154, 0.477));
    backdrop-filter: blur(5px);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

p {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.heroButtons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    width: 100%;
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.heroButtons a{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.heroGlobe {
    position: absolute;
    height: 150%;
    width: 100%;
    z-index: -1;
    top: 0;
    transform: translateX(270px) translateY(50px);
}

@media (max-width: 900px) {
    .heroSection {
        flex-direction: column;
        text-align: center;
        padding: 2rem 1rem;
    }
    .heroImage {
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
        z-index: 2;
    }
    .heroButtons {
        justify-content: center;
    }
}
